{% extends "base.html" %}

{% block title %}{{ survey }}{% endblock %}

{% block content %}
    <h2>{{ survey }}</h2>
    <div id="questions">
    </div>

    <button id="refresh">Rafraîchir</button>

    {% load static %}
    <script src="{% static 'js/app.js' %}" ></script>
    <script>
        const ACTIVE_QUESTIONS_URL = '{% url 'surveys:active-questions' %}';
        const refreshButton = document.getElementById('refresh');

        refreshButton.addEventListener('click', function() {
            requestQuestions(ACTIVE_QUESTIONS_URL);
        });

        requestQuestions(ACTIVE_QUESTIONS_URL);
    </script>
{% endblock %}