{% for pair in pairs %}
    <div class="row">
        <div class="col">
            <form claction="{% url 'surveys:answer' pair.question.id %}" method="post" class="question-form">
                <p>{{ pair.question.text }}</p>
                {% csrf_token %}
                {{ pair.form }}
                <input type="submit" value="Valider" class="btn btn-lg btn-success">
                <button class="btn btn-default">Passer</button>
            </form>
        </div>
    </div>
{% endfor %}
