{% load i18n %}
{% for pair in pairs%}
    <form method="post" action="{% url 'surveys:answer' pair.question.id %}" class="question-form question-{{ pair.question.type|lower }}">
        {% if pair.question.image %}
            <img src="{{ pair.question.image.url }}" width="100%">
        {% endif %}
        <h2>{{ pair.question.text }}</h2>
        {% csrf_token %}
        {% if pair.question.type == 'RANK' %}
            <ul>
                {{ pair.form.as_ul }}
            </ul>
        {% else %}
            {{ pair.form }}
        {% endif %}

        <input type="submit" value="{% trans "Submit" %}" class="btn btn-lg btn-success">
        <button class="skip btn btn-info">{% trans "Skip" %}</button>
    </form>
{% endfor %}
