appdirs==1.4.2
asgi-redis==1.0.0
asgiref==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.0.3
constantly==15.1.0
daphne==1.0.3
Django==1.10.6
django-adminplus==0.5
django-jchart==0.2.0
django-nested-admin==3.0.13
django-nested-inline==0.3.6
django-object-actions==0.9.0
incremental==16.10.1
msgpack-python==0.4.8
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
python-monkey-business==1.0.0
redis==2.10.5
six==1.10.0
Twisted==17.1.0
txaio==2.6.1
zope.interface==4.3.3
